extends layout

mixin questionText(name, value, id)
    key=name
    input(type="text", name=name, value=value, Id=id)
    br

mixin questionCheckbox(name, value, id)
    key=name
    input(type="checkbox", name=name, checked=value, Id=id)
    br

mixin submit(name, id)
    input(type="submit",name=name, value=value, Id=id)

block content
    h1= title
    br
    h1
        | CHECK THE BOXES THAT APPLY TO YOU!!!
    hr
    p
        mixin questionCheckbox("I have a rectal bleeding ", null, "rectalBleeding")
        mixin questionCheckbox("I don't like puppies ", null, 2)
        mixin questionCheckbox("I dont know what is going on ", null, 3)
        mixin submit("Submit", "submit")

    //TODO break this out to a standalone JS script
    script.
        $('#submit').click(function() {

            var questions = {
                rectalBleeding: $('#rectalBleeding').is(":checked"),
                q2: $('#2').is(":checked"),
                q3: $('#3').is(":checked")
            };
            console.log(questions);


            $.ajax({
                url: "api/questionnaire",
                type: "post",
                dataType: "json",
                data: JSON.stringify(questions),
                contentType: "application/json",
                success: function (data) {
                    displayAlert(data);
                }
            });


            function displayAlert(data){
                console.log(data);
                alert("Data gotten back " + JSON.stringify(data)+ "\nData sent " + JSON.stringify(questions));
            }
        });

